*.elc
/tramp
/games
/desktops
/elpa
/auto-save-list
/ac-comphist.dat
/.emacs.desktop
/.emacs.desktop.lock
/.python-environments
/projectile-bookmarks.eld
/frame-restore-parameters
/custom.el
/smex-items
/places
/recentf
/session.*
/ido.last
/lisp/init-local.el
/url
/eshell/
/.cache/
/.mc-lists.el
/bookmarks
/projectile.cache
